<div class="flex flex-col flex-auto min-w-0 bg-card dark:bg-transparent">

    <!-- Header -->
    <div class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent">
        <div class="flex-1 min-w-0">
            <!-- Title -->
            <div class="mt-2">
                <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                    แก้ไขคู่ค้า
                </h2>
            </div>

        </div>
    </div>

    <!-- Main -->
    <div class="flex-auto p-3 sm:p-10">
        <form class="flex flex-col mt-3 pb-4 bg-card shadow overflow-hidden ng-valid" [formGroup]="formData">
            <div class="flex flex-col sm:flex-row p-8">
                <div class="w-full lg:w-3/4 ">
                    <div class="flex flex-auto flex-wrap">
                        <div class="flex flex-col w-full lg:w-1/4 sm:pl-8">
                            <mat-form-field class="w-full">
                                <mat-label class="font-bold">เลือกประเภท</mat-label>
                                <mat-select [formControlName]="'type'">
                                    <mat-option [value]="''">
                                        <span class="text-gray-400">เลือกประเภท</span>
                                    </mat-option>
                                    <mat-option value="Logistic">Logistic</mat-option>
                                    <mat-option value="Scrap">Scrap</mat-option>
                                    <mat-option value="Other">Other</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="flex flex-col w-full lg:w-1/4 sm:pl-8">
                            <mat-form-field class="w-full">
                                <mat-label class="font-bold">ชื่อบริษัท</mat-label>
                                <input matInput [formControlName]="'name'" type="text" placeholder="กรุณากรอกชื่อผู้บริจาค (ถ้ามี)">
                            </mat-form-field>
                        </div>
                        <div class="flex flex-col w-full lg:w-1/4 sm:pl-8">
                            <mat-form-field class="w-full">
                                <mat-label class="font-bold">เลขผู้เสียภาษี</mat-label>
                                <input matInput [formControlName]="'tax'" type="number" placeholder="กรุณากรอกจำนวนเงิน">
                            </mat-form-field>
                        </div>
                        <div class="flex flex-col w-full lg:w-1/4 sm:pl-8">
                            <mat-form-field class="w-full">
                                <mat-label class="font-bold">เบอร์ติตต่อ</mat-label>
                                <input matInput [formControlName]="'phone'" type="text" placeholder="กรุณากรอกจำนวนเงิน">
                            </mat-form-field>
                        </div>
                        <div class="flex flex-col w-full lg:w-1/4 sm:pl-8">
                            <mat-form-field class="w-full">
                                <mat-label class="font-bold">อีเมล</mat-label>
                                <input matInput [formControlName]="'email'" type="email" placeholder="กรุณากรอกจำนวนเงิน">
                            </mat-form-field>
                        </div>
                        <div class="flex flex-col w-full lg:w-1/4 sm:pl-8">
                            <mat-form-field class="w-full">
                                <mat-label class="font-bold">แฟกต์</mat-label>
                                <input matInput [formControlName]="'fax'" type="text" placeholder="กรุณากรอกจำนวนเงิน">
                            </mat-form-field>
                        </div>
                        <div class="flex flex-col w-full lg:w-1/4 sm:pl-8">
                            <mat-form-field class="w-full">
                                <mat-label class="font-bold">จังหวัด</mat-label>
                                <input matInput [formControlName]="'country'" type="text" placeholder="กรุณากรอกจำนวนเงิน">
                            </mat-form-field>
                        </div>
                        <div class="flex flex-col w-full lg:w-1/4 sm:pl-8">
                            <mat-form-field class="w-full">
                                <mat-label class="font-bold">รหัสไปรษณี</mat-label>
                                <input matInput [formControlName]="'postcode'" type="text" placeholder="กรุณากรอกจำนวนเงิน">
                            </mat-form-field>
                        </div>
                        <div class="flex flex-col w-full lg:w-4/4 sm:pl-8">
                            <mat-form-field class="w-full">
                                <mat-label class="font-bold">รายละเอียด</mat-label>
                                <textarea matInput rows="4" [formControlName]="'address1'" placeholder="กรุณาระบุรายละเอียด"></textarea>
                            </mat-form-field>
                        </div>
                        <div class="flex flex-col w-full lg:w-4/4 sm:pl-8">
                            <mat-form-field class="w-full">
                                <mat-label class="font-bold">รายละเอียด</mat-label>
                                <textarea matInput rows="4" [formControlName]="'address2'" placeholder="กรุณาระบุรายละเอียด"></textarea>
                            </mat-form-field>
                        </div>
                        <div class="flex flex-col w-full lg:w-4/4 sm:pl-8">
                            <mat-form-field class="w-full">
                                <mat-label class="font-bold">รายละเอียด</mat-label>
                                <textarea matInput rows="4" [formControlName]="'address3'" placeholder="กรุณาระบุรายละเอียด"></textarea>
                            </mat-form-field>
                        </div>
                        <div class="flex flex-col w-full lg:w-4/4 sm:pl-8">
                            <mat-form-field class="w-full">
                                <mat-label>สถานะ</mat-label>
                                <mat-select [formControlName]="'status'">
                                    <mat-option *ngFor="let sta of statusData" [value]="sta.value">
                                        {{sta.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="w-full lg:w-1/4 ">
                    <div class="flex flex-auto flex-wrap">
                        <div class="flex flex-col w-full lg:w-4/4 sm:pl-8">
                            <div class="border-t border-gray-200">
                                <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-1 sm:gap-4 sm:px-6">
                                    <img class="img" *ngFor="let url of itemData.images" [src]="url.image" class="border-gray-200 h-auto mb-2 w-full transition-shadow ease-in-out duration-300 shadow-none hover:shadow-xl">
                                </div>
                            </div>
                        </div>
                        <div class="flex flex-col w-full lg:w-4/4 sm:pl-8">
                            <label class="font-bold">ภาพประกอบ</label>
                            <ngx-dropzone style="width: 100%; height: 250px; justify-content: center;" (change)="onSelect($event)">
                                <ngx-dropzone-label>ภาพ</ngx-dropzone-label>
                                <ngx-dropzone-image-preview *ngFor="let f of files" [removable]="true" [file]="f" (removed)="onRemove(f)">
                                    <!-- <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label> -->
                                </ngx-dropzone-image-preview>
                            </ngx-dropzone>
                        </div>
                    </div>
                </div>
            </div>
            <!-- button -->
            <div class="flex items-center justify-end w-full border-t px-8 py-4">
                <div class="flex items-center justify-end">
                    <a class="ml-4" mat-flat-button href="vendor/list">
                        <mat-icon svgIcon="heroicons_solid:x"></mat-icon>
                        ยกเลิก
                    </a>
                    <button class="px-6 ml-3 mat-primary" mat-flat-button (click)="Update()">
                        <mat-icon svgIcon="heroicons_solid:check"></mat-icon>
                        ยืนยัน
                    </button>
                </div>
            </div>
        </form>
    </div>

</div>