<div class="flex flex-col flex-auto min-w-0 bg-card dark:bg-transparent">

    <!-- Header -->
    <div class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent">
        <div class="flex-1 min-w-0">
            <!-- Title -->
            <div class="mt-2">
                <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                    เพิ่มข้อมูลการฝากเงิน
                </h2>
            </div>

        </div>
    </div>

    <!-- Main -->
    <form class="flex flex-col mt-3 p-8 pb-4 bg-card shadow overflow-hidden ng-valid" [formGroup]="formData">
        <div class="flex-auto p-3 sm:p-10">
            <!-- This example requires Tailwind CSS v2.0+ -->
            <div class="overflow-hidden bg-white shadow sm:rounded-lg">
                <div class="flex">
                    <div class="w-2/3">
                        <div class="px-4 py-5 sm:px-6">
                            <h3 class="text-lg font-extrabold leading-6 text-gray-900">วัดมงคลโคธาวาส</h3>
                            <p class="mt-1 max-w-2xl text-sm text-gray-500">รายละเอียดการทำธุรกรรม</p>
                        </div>
                    </div>
                    <div class="w-full">
                        <div class="px-4 py-5 sm:px-6">
                            <h3 class="text-lg font-extrabold leading-6 text-gray-900">รายละเอียด</h3>
                            <p class="mt-1 max-w-2xl text-sm text-gray-500">รูปสลิปการทำธุรกรรม</p>
                        </div>
                    </div>
                </div>
                <div class="flex">
                    <div class="w-2/3">
                        <div class="border-t border-gray-200">
                            <dl>
                                <!-- <div class="bg-white-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                                    <dt class="text-sm font-extrabold text-gray-500">ชื่อผู้ทำธุรกรรม</dt>
                                    <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">
                                        <mat-form-field class="w-full">
                                            <input matInput [formControlName]="'name'"
                                                placeholder="กรุณากรอกชื่อผู้ทำธุรกรรม">
                                        </mat-form-field>
                                    </dd>
                                </div> -->
                                <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                                    <dt class="text-sm font-extrabold text-gray-500">บัญชีธนาคาร</dt>
                                    <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">
                                        <mat-form-field class="w-full">
                                            <mat-select [formControlName]="'bank_id'">
                                                <mat-option [value]="''">
                                                    <span>เลือกบัญชีธนาคาร</span>
                                                </mat-option>
                                                <mat-option *ngFor="let account of bankData" [value]="account.id">
                                                    {{account.name}} [{{account.bank_of}}]
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </dd>
                                </div>
                                <div class="bg-white-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                                    <dt class="text-sm font-extrabold text-gray-500">ชื่อผู้บริจาค (ถ้ามี)</dt>
                                    <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">
                                        <mat-form-field class="w-full">
                                            <input matInput [formControlName]="'name'" type="text" placeholder="กรุณากรอกชื่อผู้บริจาค (ถ้ามี)">
                                        </mat-form-field>
                                    </dd>
                                </div>
                                <div class="bg-white-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                                    <dt class="text-sm font-extrabold text-gray-500">จำนวนเงิน</dt>
                                    <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">
                                        <mat-form-field class="w-full">
                                            <input matInput [formControlName]="'price'" type="number" placeholder="กรุณากรอกจำนวนเงิน">
                                        </mat-form-field>
                                    </dd>
                                </div>
                                <!-- <div class="bg-white-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                                    <dt class="text-sm font-extrabold text-gray-500">วันเวลาที่ทำธุรกรรม</dt>
                                    <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">
                                        <mat-form-field class="w-full">
                                            <input matInput [ngxMatDatetimePicker]="picker" placeholder="Choose a date"
                                                [min]="minDate" [max]="maxDate" [disabled]="disabled"
                                                [formControlName]="'date_time'">
                                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                            <ngx-mat-datetime-picker #picker [showSpinners]="showSpinners"
                                                [showSeconds]="showSeconds" [stepHour]="stepHour"
                                                [stepMinute]="stepMinute" [stepSecond]="stepSecond" [touchUi]="touchUi"
                                                [color]="color" [enableMeridian]="enableMeridian">
                                            </ngx-mat-datetime-picker>
                                        </mat-form-field>
                                </div> -->
                                <!-- <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 " hidden>
                                    <dt class="text-sm font-extrabold text-gray-500">ประเภทการทำธุรกรรม</dt>
                                    <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">
                                        <mat-form-field class="w-full">
                                            <input matInput [formControlName]="'type'" [value]="'deposit'" hidden
                                                placeholder="กรุณากรอกจำนวนเงิน">
                                        </mat-form-field>
                                    </dd>
                                </div> -->
                                <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                                    <dt class="text-sm font-extrabold text-gray-500">รายละเอียด</dt>
                                    <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">
                                        <mat-form-field class="w-full">
                                            <textarea matInput rows="4" [formControlName]="'remark'" placeholder="กรุณาระบุรายละเอียด"></textarea>
                                        </mat-form-field>
                                    </dd>
                                </div>
                            </dl>
                        </div>
                    </div>
                    <div class="w-full">
                        <div class="border-t border-gray-200">
                            <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                                <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">
                                    <div class=" flex flex-wrap justify-start">
                                        <ngx-dropzone style="width: 500px; height: 300px; justify-content: center;" (change)="onSelect($event)">
                                            <ngx-dropzone-label>เลือกสลิป</ngx-dropzone-label>
                                            <ngx-dropzone-image-preview *ngFor="let f of files" [removable]="true" [file]="f" (removed)="onRemove(f)">
                                                <!-- <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label> -->
                                            </ngx-dropzone-image-preview>
                                        </ngx-dropzone>
                                    </div>
                                </dd>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- button -->
        <div class="flex items-center justify-end w-full px-8 py-4">
            <div class="flex items-center justify-end">
                <a class="ml-4" mat-flat-button href="branch/list">
                    <mat-icon svgIcon="heroicons_solid:x"></mat-icon>
                    ยกเลิก
                </a>
                <button class="px-6 ml-3 mat-primary" mat-flat-button (click)="NewBankDeposit()">
                    <mat-icon svgIcon="heroicons_solid:check"></mat-icon>
                    ยืนยัน
                </button>
            </div>
        </div>
    </form>
    <!-- <section class="example-section" [formGroup]="formData">
        <h4>You chose:</h4>
        {{formData.value | json}}
    </section> -->
</div>