<div class="flex flex-col flex-auto min-w-0 bg-card dark:bg-transparent">

    <!-- Header -->
    <div class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent">
        <div class="flex-1 min-w-0">
            <!-- Title -->
            <div class="mt-2">
                <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                    แก้ไขเควส
                </h2>
            </div>

        </div>
    </div>

    <!-- Main -->
    <div class="flex-auto p-3 sm:p-10">
        <form class="flex flex-col p-8 pb-4 bg-card shadow overflow-hidden ng-valid" [formGroup]="formData">
            <div class="flex flex-col sm:flex-row p-8">

                <!-- Product images and status -->
                <div class="flex flex-col items-center sm:items-start mb-8 sm:mb-0">
                    <div class="flex flex-col items-center">
                        <h2>เควส</h2>
                    </div>

                </div>

                <div class="flex flex-auto flex-wrap">

                    <!-- Name, SKU & etc. -->
                    <div class="flex flex-col w-full lg:w-4/4 sm:pl-8">
                        <!--firstname and lastname-->
                        <div class="flex">
                            <mat-form-field class="w-full">
                                <mat-label>ชื่อเควส
                                </mat-label>
                                <input matInput [formControlName]="'name'">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="flex flex-col w-full lg:w-2/6 sm:pl-8">
                        <!--firstname and lastname-->
                        <div class="flex">
                            <mat-form-field class="w-full">
                                <mat-label>ประเภทเควส
                                </mat-label>
                                <mat-select [formControlName]="'questTypeId'">
                                    <mat-option [value]="''">
                                        <span>เลือกประเภทเควส</span>
                                    </mat-option>
                                    <mat-option *ngFor="let item of QuestTypeData" [value]="item.id">
                                        {{item.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="flex flex-col w-full lg:w-2/6 sm:pl-8">
                        <!--firstname and lastname-->
                        <div class="flex">
                            <mat-form-field class="w-full">
                                <mat-label>ประเภทย่อยเควส
                                </mat-label>
                                <mat-select [formControlName]="'questSubTypeId'">
                                    <mat-option [value]="''">
                                        <span>เลือกประเภทย่อยเควส</span>
                                    </mat-option>
                                    <mat-option *ngFor="let item of QuestSubTypeData" [value]="item.id">
                                        {{item.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="flex flex-col w-full lg:w-2/6 sm:pl-8">
                        <!--firstname and lastname-->
                        <div class="flex">
                            <mat-form-field class="w-full">
                                <mat-label>กลุ่มเควส
                                </mat-label>
                                <mat-select [formControlName]="'questGroupId'">
                                    <mat-option [value]="''">
                                        <span>เลือกกลุ่มเควส</span>
                                    </mat-option>
                                    <mat-option *ngFor="let item of QuestGroupData" [value]="item.id">
                                        {{item.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="flex flex-col w-full lg:w-1/5 sm:pl-8">
                        <mat-form-field class="w-full">
                            <mat-label>STR
                            </mat-label>
                            <input matInput type="number" [formControlName]="'str'">
                        </mat-form-field>
                    </div>
                    <div class="flex flex-col w-full lg:w-1/5 sm:pl-8">
                        <mat-form-field class="w-full">
                            <mat-label>VIT</mat-label>
                            <input matInput type="number" [formControlName]="'vit'">
                        </mat-form-field>
                    </div>
                    <div class="flex flex-col w-full lg:w-1/5 sm:pl-8">
                        <mat-form-field class="w-full">
                            <mat-label>INT
                            </mat-label>
                            <input matInput type="number" [formControlName]="'int'">
                        </mat-form-field>
                    </div>
                    <div class="flex flex-col w-full lg:w-1/5 sm:pl-8">
                        <mat-form-field class="w-full">
                            <mat-label>AGI</mat-label>
                            <input matInput type="number" [formControlName]="'agi'">
                        </mat-form-field>
                    </div>
                    <div class="flex flex-col w-full lg:w-1/5 sm:pl-8">
                        <mat-form-field class="w-full">
                            <mat-label>DEX</mat-label>
                            <input matInput type="number" [formControlName]="'dex'">
                        </mat-form-field>
                    </div>
                    <div class="flex flex-col w-full lg:w-1/4 sm:pl-8">
                        <mat-form-field class="w-full">
                            <mat-label>Reuse
                            </mat-label>
                            <mat-select [formControlName]="'reuse'">
                                <mat-option [value]="''">
                                    <span>เลือกสถานะ</span>
                                </mat-option>
                                <mat-option *ngFor="let item of reuseData" [value]="item.value">
                                    {{item.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="flex flex-col w-full lg:w-1/4 sm:pl-8">
                        <mat-form-field class="w-full">
                            <mat-label>Exp Reuse
                            </mat-label>
                            <input matInput type="number" [formControlName]="'exp_reuse'">
                        </mat-form-field>
                    </div>
                    <div class="flex flex-col w-full lg:w-1/4 sm:pl-8">
                        <mat-form-field class="w-full">
                            <mat-label>Value
                            </mat-label>
                            <input matInput type="number" [formControlName]="'value'">
                        </mat-form-field>
                    </div>
                    <div class="flex flex-col w-full lg:w-1/4 sm:pl-8">
                        <mat-form-field class="w-full">
                            <mat-label>Time
                            </mat-label>
                            <input matInput type="number" [formControlName]="'time'">
                        </mat-form-field>
                    </div>
                    <div class="flex flex-col w-full lg:w-1/4 sm:pl-8">
                        <mat-form-field class="w-full">
                            <mat-label>Type
                            </mat-label>
                            <mat-select [formControlName]="'type'">
                                <mat-option [value]="''">
                                    <span>เลือกประเภท</span>
                                </mat-option>
                                <mat-option *ngFor="let item of typeData" [value]="item.value">
                                    {{item.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="flex flex-col w-full lg:w-1/4 sm:pl-8">
                        <mat-form-field class="w-full">
                            <mat-label>Type
                            </mat-label>
                            <mat-select [formControlName]="'category'">
                                <mat-option [value]="''">
                                    <span>เลือกหมวดหมู่</span>
                                </mat-option>
                                <mat-option *ngFor="let item of categoryData" [value]="item.value">
                                    {{item.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="flex flex-col w-full lg:w-4/4 sm:pl-8">
                        <div class="flex flex-col flex-auto p-5 overflow-hidden sm:overflow-y-auto">
                            <table datatable formArrayName="category" style="cursor: pointer" class="table row-border hover" style="width: 100%">
                                <thead>
                                    <tr>
                                        <th>ลำดับ</th>
                                        <th>ไอเทม</th>
                                        <th style="text-align: center">จำนวน</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th colspan="3" class="text-right">
                                            <button class="px-6 ml-3 mat-primary" mat-flat-button (click)="addItem()">
                                                <mat-icon svgIcon="heroicons_solid:plus"></mat-icon>
                                                เพิ่ม
                                            </button>
                                        </th>
                                    </tr>
                                    <tr *ngFor="let row of item().controls; let i = index" [formGroupName]="i">
                                        <!-- <th scope="row">{{ i + 1 }}</th> -->
                                        <td>
                                            <button (click)="removeItem(i)" class="btn btn-danger">
                                                <span class="flex items-center">
                                                    <mat-icon class="icon-size-5 mr-3"
                                                        [svgIcon]="'heroicons_solid:trash'"></mat-icon>
                                                </span>
                                            </button>
                                        </td>
                                        <td>
                                            <mat-form-field class="w-full">
                                                <mat-select formControlName="itemId">
                                                    <mat-option [value]="''">
                                                        <span>เลือกไอเทม</span>
                                                    </mat-option>
                                                    <!-- <mat-option *ngFor="let item of typeData" [value]="item.value">
                                                    {{item.name}}
                                                </mat-option> -->
                                                </mat-select>
                                            </mat-form-field>
                                        </td>
                                        <td style="text-align: center">
                                            <mat-form-field class="w-full">
                                                <input matInput type="number" formControlName="qty" class="form-control" min="0" placeholder="จำนวน">
                                            </mat-form-field>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="flex items-center justify-end w-full border-t px-8 py-4">
            <div class="flex items-center justify-end">
                <a class="ml-4" mat-flat-button href="quest/list">
                    <mat-icon svgIcon="heroicons_solid:x"></mat-icon>
                    ยกเลิก
                </a>
                <button class="px-6 ml-3 mat-primary" mat-flat-button (click)="update()">
                    <mat-icon svgIcon="heroicons_solid:check"></mat-icon>
                    ยืนยัน
                </button>
            </div>
        </div>

    </div>

</div>