<div class="flex flex-col flex-auto min-w-0 bg-card dark:bg-transparent">

    <!-- Header -->
    <div class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent">
        <div class="flex-1 min-w-0">
            <!-- Title -->
            <div class="mt-2">
                <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                    แก้ไขสมาชิก
                </h2>
            </div>

        </div>
    </div>

    <!-- Main -->
    <div class="flex-auto p-3 sm:p-10">
        <form class="flex flex-col mt-3 p-8 pb-4 bg-card shadow overflow-hidden ng-valid" [formGroup]="formData">
            <div class="flex flex-col sm:flex-row p-8">
                <div class="w-full">
                    <div class="flex flex-auto flex-wrap">
                        <div class="flex flex-col w-full lg:w-2/4 sm:pl-8">
                            <mat-form-field class="w-full">
                                <mat-label class="font-bold">รหัสสมาชิก</mat-label>
                                <input matInput [formControlName]="'member_id'">
                            </mat-form-field>
                        </div>
                        <div class="flex flex-col w-full lg:w-2/4 sm:pl-8">
                            <mat-form-field class="w-full">
                                <mat-label class="font-bold">รหัสบัตร</mat-label>
                                <input matInput [formControlName]="'code'">
                            </mat-form-field>
                        </div>
                        <div class="flex flex-col w-full lg:w-2/4 sm:pl-8">
                            <mat-form-field class="w-full">
                                <mat-label class="font-bold">ชื่อสมาชิก</mat-label>
                                <input matInput [formControlName]="'fname'">
                            </mat-form-field>
                        </div>
                        <div class="flex flex-col w-full lg:w-2/4 sm:pl-8">
                            <mat-form-field class="w-full">
                                <mat-label class="font-bold">นามสกุล</mat-label>
                                <input matInput [formControlName]="'lname'">
                            </mat-form-field>
                        </div>
                        <div class="flex flex-col w-full lg:w-2/4 sm:pl-8">
                            <mat-form-field class="w-full">
                                <mat-label class="font-bold">อีเมล</mat-label>
                                <input matInput [formControlName]="'email'">
                            </mat-form-field>
                        </div>
                        <mat-divider class="my-4"></mat-divider>
                        <div class="flex flex-col w-full lg:w-4/4 sm:pl-8">
                            <div class="w-full">
                                <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400 heroicons_solid row-border hover">
                                    <thead class="text-m text-gray-700 uppercase bg-gray-50 dark:bg-white-700 dark:text-gray-400">
                                        <tr>
                                            <th scope="col" class="py-3 px-6 ">
                                                ลำดับ
                                            </th>
                                            <th scope="col" class="py-3 px-6">
                                                เลขอ้างอิง
                                            </th>
                                            <th scope="col" class="py-3 px-6">
                                                วันที่
                                            </th>
                                            <th scope="col" class="py-3 px-6">
                                                เวลา
                                            </th>
                                            <th scope="col" class="py-3 px-6">
                                                จำนวน
                                            </th>
                                            <th scope="col" class="py-3 px-6">
                                                สถานะ
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of this.itemData.transections; let i = index" class="bg-white border-b dark:bg-gray-900 dark:border-gray-700">
                                            <td class="py-4 px-6">{{ i+1 }}</td>

                                            <td class="py-4 px-6">{{item.refno}}</td>

                                            <td class="py-4 px-6">{{item.date}}</td>

                                            <td class="py-4 px-6">{{item.time}}</td>

                                            <td class="py-4 px-6">{{item.qty | currency:" ":"symbol"}}</td>

                                            <td class="py-4 px-6">
                                                <div *ngIf="item.status === 'wait'"> รอตรวจสอบ</div>
                                                <div *ngIf="item.status === 'finish'"> สำเร็จ</div>

                                            </td>
                                        </tr>
                                    </tbody>
                                    <tbody *ngIf="this.itemData.transections?.length == 0">
                                        <tr>
                                            <td colspan="4">No Data</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- button -->
            <div class="flex items-center justify-end w-full border-t px-8 py-4">
                <div class="flex items-center justify-end">
                    <a class="ml-4" mat-flat-button routerLink="../../../member/list">
                        <mat-icon svgIcon="heroicons_solid:x"></mat-icon>
                        ย้อนกลับ
                    </a>
                </div>
            </div>
        </form>
        <pre>
        </pre>
    </div>

</div>