<div class="sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card dark:bg-transparent">

    <!-- Header -->
    <div class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8 border-b">
        <!-- Loader -->
        <div class="absolute inset-x-0 bottom-0" *ngIf="isLoading">
            <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
        </div>
        <!-- Title -->
        <div class="text-4xl font-extrabold tracking-tight">รายการเติมเงิน</div>
        <!-- Actions -->
        <div class="flex shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">

            <!-- Add product button -->

            <!-- <button class="ml-4" mat-flat-button [color]="'accept'" (click)="export()">
                <mat-icon [svgIcon]="'heroicons_outline:check'"></mat-icon>
                <span class="ml-2 mr-1">ส่งออกข้อมูล</span>
            </button> -->


        </div>
    </div>

    <!-- search -->
    <!-- <div class="search-box relative flex flex-col flex-0 px-6 md:px-8 border-b mt-4">

    </div> -->


    <!-- Main -->
    <div class="flex flex-auto overflow-hidden">
        <!-- Products list -->
        <div class="flex flex-col flex-auto p-5 overflow-hidden sm:overflow-y-auto">
            <!-- Products list -->
            <div class="flex flex-col flex-auto p-5 overflow-hidden sm:overflow-y-auto ">
                <table datatable [dtOptions]="dtOptions" class="table row-border hover">
                    <thead>
                        <tr>
                            <th>ลำดับ</th>
                            <th>สมาชิก</th>
                            <th>เลขอ้างอิง</th>
                            <th>วันที่</th>
                            <th>เวลา</th>
                            <th>จำนวนเงิน</th>
                            <th>สถานะ</th>
                            <th>วันที่สร้าง</th>
                            <!-- <th>จัดการ</th> -->
                        </tr>
                    </thead>
                    <tbody *ngIf="dataRow?.length != 0">
                        <tr *ngFor="let item of dataRow; let i = index">
                            <td style="width: 5%;">{{ pages.begin + (i + 1) }}</td>
                            <td style="width: 15%;">{{ item.member.fname }}&nbsp;{{ item.member.fname }}&nbsp; ({{ item.member.member_id }})</td>
                            <td>{{ item.refno }}</td>
                            <td>{{ item.date }}</td>
                            <td>{{ item.time }}</td>
                            <td>{{ item.qty }}</td>
                            <td>
                                <span class="bg-green-100 text-green-800 text-m font-semibold mr-2 px-2.5 py-0.5 rounded dark:bg-green-200 dark:text-green-900" *ngIf="item.status === 'finish'"> อนุมัติแล้ว</span>
                                <span class="bg-red-100 text-red-800 text-m font-semibold mr-2 px-2.5 py-0.5 rounded dark:bg-red-200 dark:text-red-900" *ngIf="item.status === 'No'"> ไม่อนุมัติ</span>
                                <span class="bg-yellow-100 text-yellow-800 text-m font-semibold mr-2 px-2.5 py-0.5 rounded dark:bg-yellow-200 dark:text-yellow-900" *ngIf="item.status === 'wait'"> รอการอนุมัติ</span>
                            </td>
                            <td>{{ item.created_at }}</td>
                            <!-- <td style="width: 15%;">
                                <button mat-button (click)="edit(item.id)">
                                    <mat-icon>edit</mat-icon>
                                </button>
                                <button mat-button (click)="viewDetail(item.id)">
                                    <mat-icon>visibility</mat-icon>
                                </button>
                            </td> -->
                        </tr>
                    </tbody>
                    <tbody *ngIf="dataRow?.length == 0">
                        <tr>
                            <td colspan="9" class="no-data-available text-center">ไม่มีข้อมูล !</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>